.header {
    background-color: #D13540;
    border-radius: 12px;
    color: #D13540;
    padding: 10px;
    margin: 10px;
}
.logo {
    height: 70px;
    width: auto;
}
.website-btn {
    background-color: white;
    color: #D13540;
    height: 30px;
    padding: 0 12px;
}
.websites-btn {
    background-color: #0282FF;
    color: white;
    height: 30px;
    padding: 0 12px;
}
.widget {
    background-color: white;
    border: 1px solid #D9D9D9;
    border-radius: 12px;
    padding: 10px;
    margin: 10px;
}
.search-input {
    background-color: #D9D9D9;
    border-radius: 50px;
}
.search-btn {
    background-color: #0282FF;
    border-radius: 50px;
    color: white;
}
.timetable-header {
    background-color: #D13540;
    border-radius: 12px;
    color: white;
    padding: 10px;
    text-align: center;
    font-weight: bold;
}
.timetable {
    padding: 10px;
}
.time-widget {
    background-color: #D9D9D9;
    padding: 10px;
    margin: 10px;
}